aiohttp==3.13.2
aiosignal==1.4.0
async-timeout==5.0.1
attrs==25.4.0
charset-normalizer==3.4.4
DateTime==5.5
discord.py==2.6.4
discord-ext-prometheus==0.2.1
frozenlist==1.8.0
idna==3.11
multidict==6.7.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
six==1.17.0
yarl==1.22.0
zope.interface==8.1